div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    height: 80px;
    padding-left: 120px;
    padding-right: 120px;
}

.logo {
    font-size: larger;
    font-weight: 800;
    color: #ffffff;
    border: 0.3px dotted #ffffff;
    padding: 8px;
    border-radius: 23px;
    background-color: rgb(127 138 144 / 48%);
}