div {
    

    a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        margin-left: 40px;
        
        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    height: 80px;
    padding-left: 120px;
    padding-right: 120px;
    
    img{
        height: 52px;
        width: 140px;
    }
}

.logo {
    font-size: larger;
    font-weight: 800;
    color: #ffffff;
    border: 0.3px dotted #ffffff;
    padding: 8px;
    border-radius: 23px;
    background-color: rgba(166, 177, 184, 0.568);
}
.darkLinks{
    a {
    color: black;

    &:hover {
        color: rgb(0, 0, 0, 0.8);
    }
}
}
.darkHeader{
    background-color: rgb(255, 255, 255, 0.8);
}