.slideshow-container{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}
.img-slideshow{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
    animation: zoomIn 8s ease;
}

@keyframes zoomIn {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
.slideshow-overlay{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: 32px;
   
    p{
        padding-left: 64px;
        max-width: 500px;
        color: white;
        font-size: 3em;
        border-left: 8px solid red;
    }
}

